:root {
    --logo-col-1: #228BE6;
    --logo-col-2: #fff;
    --logo-col-3: #000;

    --back-gradient-start: #001120;
    --back-gradient-end: #002a4f;

    --primary-col: #7fb4e3;
    --secondary-col: #ffbac1;
}
